body{
	
font-family: "Helvetica", "Arial", fantasy;
	
color: #AAFF00;
	background-color: #0000FF;
	
text-shadow: 1px 1px #40E0D0;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #40E0D0;

}


td, th {
    
border: 1px solid #000000;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #000000;

}